<form  #f="ngForm">
    <label>Informations générales</label>
    <br>
    <br>
    <label>Nom</label>
    <input type="text" name="nom" required ngModel #nom="ngModel"> 
    <br>
    <label>Email</label>
    <input type="email" name="email" required pattern="[a-zA-Z0-9]+.[a-zA-Z0-9]+@[a-zA-Z0-9]{3}" ngModel #email="ngModel"> 
    <br>
    <br>
    <div ngModelGroup="autres" #sousgroup="ngModelGroup">
    <label>Informations de payement</label>
    <br>
    <br>
    <label>type de carte</label>
    <input type="text" name="typedecarte" required ngModel #typedecarte="ngModel"> 
    <br>
    <label>Numero carte</label>
    <input type="number" name="Numerocarte" required pattern="[0-9]{16}" ngModel #Numerocarte="ngModel"> 
    <br>
    <label>Date expiration</label>
    <input type="date" name="Dateexpiration" required ngModel #Dateexpiration="ngModel"> 
    <br>
    </div>
    
    <div [hidden]="sousgroup.invalid">
    <label>Code</label>
    <input type="number" name="code" required ngModel #code="ngModel"> 
    </div>
    <br>
<button type="submit" [disabled]= "f.invalid">Ajouter</button>
</form>
