<ul  *ngIf="listTodo">
    
    <li *ngFor="let l of listTodo ">
    {{l.userId}} ** {{l.id}} ** {{l.title}} ** {{l.completed}} 
   </li>
   <br>
   
   
</ul>


<div>
<button (click)="showBilan()">Bilan</button>

</div>
<br>
