<form>
    <label for="companyInput">find your job</label>
    <input type="text" id="companyInput" name="company" [(ngModel)]="companyName" required>
    <button type="submit">search</button>

    <ul>
        <div *ngFor="let E of listeEmploi">
            <li *ngIf="E.entreprise == companyName">

                <button [disabled]="E.etat == false">Postuler </button>
                {{E.reference}} ** {{E.titre}} ** {{E.entreprise}} ** {{E.etat}}

            </li>
        </div>
    </ul>
    <button (click)="calculer()">Bilan</button>
</form>