<ul>
    
    <li *ngFor="let u of listUsers ">
    {{u.id}} ** {{u.name}} ** {{u.username}} ** {{u.email}} 
    <a [routerLink]="['/todos', u.id]">Voir todo</a>
   </li>
   
</ul>

<div>
    <input type="text" [(ngModel)]="usernameToCheck">
    <button (click)="checkUsername()">Vérifier</button>
  </div>
