{{titre}}

<ul>
    <div *ngFor="let a of listeArticles">
        <li *ngIf=" a.categorie != 'Travail' ">
            <div [ngStyle]="{
            'background-color': a.categorie==='Education' ? 'blue' :'transparent' 
        }">
                {{a.titre}} <br>

                <br>

                auteur : {{a.auteur}} <br>
                Date : {{a.date}} <br>
                contenu : {{a.contenu}} <br>
                categorie : {{a.categorie}} <br>

                <br>

            </div>

        </li>

    </div>
    <br>
    <button (click)="f()">afficher</button>
    <input [(ngModel)]="text">

</ul>